.like-button-toggle {
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 70px;
    height: 20px;
}

.dislike-button-toggle {
    color: white;
    background-color: rgb(180, 6, 6);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 70px;
    height: 20px;
}

.static-button {
    background-color: rgba(128, 128, 128, 0.253);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 70px;
    height: 20px;
}

.button-spacing {
    display: flex;
}