.create-post-container {
    display: flex;
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-left: 29em;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.input-label {
    color: gray;
    float: left;
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
}

.create-button {
    cursor: pointer;
    margin-top: 45px;
    border-radius: 25px;
    padding: 4px 25px;
    border: none;
    background-color: #1867AB;
    color: white;
    font-weight: 700;
}

.button-div {
    display: flex;
    align-self: end;
    justify-content: flex-end;
    margin-right: 3em
}

.post-container {
    margin-top: 20px;
}

.post-textbox {
    border-radius: 15px;
    border: 2px solid #ccc;
    width: 40pc;
    height: 90px;
    margin-left: 13px;
}

.name-textbox {
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 40pc;
    height: 40px;
}

.button-spacing {
    float: left;
}